@using OpMgr.Resources.Transaction
@using OperationsManager.ExtendedHtmlHelpers
@model OperationsManager.Areas.Transaction.Models.TransactionViewModel

@{
    ViewBag.Title = "Transactions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div>
        <div class="panel-default">
            <div class="panel-heading">@TransactionSearch.TransSearchPageHeader</div>
            <div class="panel-body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <fieldset>
                        <div class="row">
                            <div class="col-lg-2">
                                @Html.OpMgrTextBoxFor(m => m.SearchFrom, TransactionSearch.FromDate, new { @class = "form-control" })
                            </div>
                            <div class="col-lg-2">
                                @Html.OpMgrTextBoxFor(m => m.SearchUpto, TransactionSearch.ToDate, new { @class = "form-control" })
                            </div>
                            <div class="col-lg-2">
                                @Html.OpMgrTextBoxFor(m => m.User.FName, TransactionSearch.UserFName, new { @class = "form-control" })
                            </div>
                            <div class="col-lg-2">
                                @Html.OpMgrTextBoxFor(m => m.User.LName, TransactionSearch.UserLName, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-2">
                                @Html.OpMgrDropDownListFor(m => m.TransactionType, Model.TransactionTypeList, TransactionSearch.TransType, new { @class = "form-control" })
                            </div>
                            <div class="col-lg-2">
                                @Html.OpMgrDropDownListFor(m => m.StandardSectionMap.StandardSectionId, Model.StandardSectionList, TransactionSearch.StandardSection, new { @class = "form-control" })
                            </div>
                            <div class="col-lg-2">
                                @Html.OpMgrTextBoxFor(m => m.SearchStudRegId, TransactionSearch.RegNumber, new { @class = "form-control" })
                            </div>
                            <div class="col-lg-2">
                                @Html.OpMgrTextBoxFor(m => m.SearchEmployeeId, TransactionSearch.EmployeeId, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-2">
                                <button type="submit" class="btn btn-primary btn-block">Search</button>
                            </div>
                        </div>
                    </fieldset>
                }
                <div class="row">
                    @if (Model.SearchResult != null && Model.SearchResult.Count > 0)
                    {
                        <table style="margin-top:20px;" class="table table-bordered table-striped table-hover table-responsive">
                            <thead>
                                <tr>
                                    <th>
                                        @TransactionSearch.Col2
                                    </th>
                                    <th>
                                        @TransactionSearch.Col3
                                    </th>
                                    <th>
                                        @TransactionSearch.Col14
                                    </th>
                                    <th>
                                        @TransactionSearch.Col5
                                    </th>
                                    <th>
                                        @TransactionSearch.Col6
                                    </th>
                                    <th>
                                        @TransactionSearch.Col7
                                    </th>
                                    <th>
                                        @TransactionSearch.Col8
                                    </th>
                                    <th>
                                        @TransactionSearch.Col9
                                    </th>
                                    <th>
                                        @TransactionSearch.Col11
                                    </th>
                                    <th>
                                        @TransactionSearch.Col13
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @for(int i=0;i<Model.SearchResult.Count;i++)
                                {
                                    <tr>
                                        <td>
                                            @string.Concat(Model.SearchResult[i].User.FName, " ", Model.SearchResult[i].User.MName, " ", Model.SearchResult[i].User.LName)
                                        </td>
                                        <td>
                                            @if(Model.SearchResult[i].TransactionDate!=null)
                                            {
                                                @Model.SearchResult[i].TransactionDate.Value.ToString("dd-MMM-yyyy hh:mm tt")
                                            }
                                        </td>
                                        <td>
                                            @if (Model.SearchResult[i].TransactionDueDate != null)
                                            {
                                                @Model.SearchResult[i].TransactionDueDate.Value.ToString("dd-MMM-yyyy hh:mm tt")
                                            }
                                        </td>
                                        <td>
                                            @(Model.SearchResult[i].IsCompleted!=null && Model.SearchResult[i].IsCompleted.Value?"Y":"N")
                                        </td>
                                        <td>
                                            @if (Model.SearchResult[i].CompletedOn != null)
                                            {
                                                @Model.SearchResult[i].CompletedOn.Value.ToString("dd-MMM-yyyy hh:mm tt")
                                            }
                                        </td>
                                        <td>
                                            @if(Model.SearchResult[i].AmountImposed!=null)
                                            {
                                                @Model.SearchResult[i].AmountImposed.ToString()
                                            }
                                        </td>
                                        <td>
                                            @if (Model.SearchResult[i].AmountGiven != null)
                                            {
                                                @Model.SearchResult[i].AmountGiven.ToString()
                                            }
                                        </td>
                                        <td>
                                            @if (Model.SearchResult[i].DueAmount != null)
                                            {
                                                @Model.SearchResult[i].DueAmount.ToString()
                                            }
                                        </td>
                                        <td>
                                            @Model.SearchResult[i].TransactionType
                                        </td>
                                        <td>
                                            @(Model.SearchResult[i].TransactionRule!=null?Model.SearchResult[i].TransactionRule.RuleName:"")
                                        </td>
                                        <td align="center">
                                            @if (Model.SearchResult[i].IsCompleted==null || !Model.SearchResult[i].IsCompleted.Value)
                                            {
                                                @Html.ActionLink(TransactionSearch.PaymentLinkText, "WorkOnTransaction", new { id = Model.SearchResult[i].TransactionLogId })
                                            }
                                            
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <table style="margin-top:20px;" class="table table-bordered table-striped table-hover table-responsive">
                            <tr>
                                <td>
                                    <b>
                                        @TransactionSearch.NoDataMsg
                                    </b>
                                </td>
                            </tr>
                        </table>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

