@using OpMgr.Resources.Common
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@CommonResource.PageTitle - @ViewBag.Title</title>

    <link href="~/template/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/template/css/datepicker3.css" rel="stylesheet">
    <link href="~/template/css/styles.css" rel="stylesheet">
    <link href="~/Content/OpMgrCommonStyles.css" rel="stylesheet" />
    <link href="~/Scripts/jquery-ui.css" rel="stylesheet" />
    <style>
        .panel-default .panel-heading {
            background-color: lightblue;
        }
    </style>
    <!--Icons-->
    <script src="~/template/js/lumino.glyphs.js"></script>
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><span>@CommonResource.BrandName</span>@CommonResource.PageHeader</a>
                <ul class="user-menu">
                    <li class="dropdown pull-right">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg> @OpMgr.Resources.Common.CommonResource.WelcomeText<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            @*<li><a href="#"><svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg> Profile</a></li>
                                <li><a href="#"><svg class="glyph stroked gear"><use xlink:href="#stroked-gear"></use></svg> Settings</a></li>*@
                            <li><a href="/Login/Login/Logout"><svg class="glyph stroked cancel"><use xlink:href="#stroked-cancel"></use></svg> Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

        </div><!-- /.container-fluid -->
    </nav>

    <div class="col-sm-10 col-sm-offset-2 col-lg-10 col-lg-offset-2 main">
        @*<div class="row">
                <ol class="breadcrumb">
                    <li><a href="#"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
                    <li class="active">Icons</li>
                </ol>
            </div>*@<!--/.row-->
        @RenderBody()
    </div><!--/.main-->

    <script src="~/template/js/jquery-1.11.1.min.js"></script>
    <script src="~/template/js/bootstrap.min.js"></script>
    <script src="~/template/js/bootstrap-datepicker.js"></script>
    <script src="~/Content/js/OpMgrStyleJs.js"></script>
    <script src="~/Scripts/jquery-ui.js"></script>
    <script src="~/Content/jquery-validation-1.16.0/dist/jquery.validate.js"></script>
    @*<script>
            !function ($) {
                $(document).on("click", "ul.nav li.parent > a > span.icon", function () {
                    $(this).find('em:first').toggleClass("glyphicon-minus");
                });
                $(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
            }(window.jQuery);

            $(window).on('resize', function () {
                if ($(window).width() > 768) $('#sidebar-collapse').collapse('show')
            })
            $(window).on('resize', function () {
                if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
            })
        </script>*@
    @RenderSection("PageScripts", false)
</body>

</html>
