@using OpMgr.Resources.Notification
@using OpMgr.Common.DTOs;
@using Ninject
@using OperationsManager.Helpers
@using OpMgr.Common.Contracts

@model OperationsManager.Areas.Notification.Models.NotificationVM
@{
    NinjectControllerFactory ncf = new NinjectControllerFactory();
    IKernel kernel = ncf.GetNinjectKernel();
    SessionDTO session = kernel.Get<ISessionSvc>().GetUserSession();       
}
@{
    ViewBag.Title = "Notifications";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}
@section PageScript
{
    <script language="javascript" type="text/javascript">
        $(document).ready(function () {

            $("#chkSelectAll").change(function () {
                if(this.checked)
                {
                    $(".cbSelect").attr('checked', 'true');
                }
                else
                {
                    $(".cbSelect").attr('checked', 'false');
                }
            });

            $(".cbSelect").change(function () {
                var allCBs = document.getElementsByClassName('cbSelect');

                $("#chkSelectAll").attr('checked', 'true');

                for(i=0;i<allCBs.length;i++)
                {
                    if(!allCBs[i].checked)
                    {
                        $("#chkSelectAll").attr('checked', 'false');
                        break;
                    }
                }

            });
        });
    </script>
}

@using (Html.BeginForm())
{
    <div class="row">
        <div class="panel panel-color panel-primary">
            <div class="panel-heading"><b>@NotificationViewAll.PageHeader</b></div>
            <div class="panel-body">
                @if (Model.Notifications != null && Model.Notifications.Count > 0)
                {
                    <table class="table table table-striped table-bordered table-responsive table-hover" border="1" data-toggle="table" data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-search="true" data-select-item-name="toolbar1" data-pagination="true" data-sort-name="name" data-sort-order="desc">
                        <thead>
                            <tr>
                                <th style="width:50px;">
                                    <input type="checkbox" id="chkSelectAll" />
                                    @NotificationViewAll.MarkColHeader
                                </th>
                                <th>
                                    @NotificationViewAll.TextColHeader
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.Notifications.Count; i++)
                            {
                                <tr>
                                    <td>
                                        @Html.CheckBoxFor(m => m.Notifications[i].MarkAsRead, new { @class = "cbSelect" })
                                        @Html.HiddenFor(m => m.Notifications[i].NotificationReminderId)
                                    </td>
                                    <td>
                                        @Model.Notifications[i].NotificationText
                                    </td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="2">
                                    <button type="submit" class="btn btn-primary"> @NotificationViewAll.ReadButtonText </button>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                }
                else
                {
                    <table class="table table table-striped table-bordered table-responsive table-hover" border="1" data-toggle="table" data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-search="true" data-select-item-name="toolbar1" data-pagination="true" data-sort-name="name" data-sort-order="desc">
                        <thead>
                            <tr>
                                <th>
                                    <span style="color:red; font-style:italic;">@NotificationViewAll.NoDataMessage</span>
                                </th>
                            </tr>
                        </thead>
                    </table>
                }
            </div>
        </div>
    </div>
}


