@using OpMgr.Resources.User
@using OperationsManager.ExtendedHtmlHelpers
@model OperationsManager.Areas.User.Models.UserVM

@{
    // Layout = "~/Areas/Student/Views/Shared/_Layout.cshtml";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@section PageScripts
{
    <script>
        $(function () {
            $('#hover, #striped, #condensed').click(function () {
                var classes = 'table';

                if ($('#hover').prop('checked')) {
                    classes += ' table-hover';
                }
                if ($('#condensed').prop('checked')) {
                    classes += ' table-condensed';
                }
                $('#table-style').bootstrapTable('destroy')
                    .bootstrapTable({
                        classes: classes,
                        striped: $('#striped').prop('checked')
                    });
            });
        });

        function rowStyle(row, index) {
            var classes = ['active', 'success', 'info', 'warning', 'danger'];

            if (index % 2 === 0 && index / 2 < classes.length) {
                return {
                    classes: classes[index / 2]
                };
            }
            return {};
        }
    </script>
}

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div class="row">
        <div class="col-lg-12">

            <div class="panel panel-default">
                <div class="panel-heading"><b>@UserResource.SearchPageHeader</b></div>
                <div class="panel-body">

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <fieldset>
                            <div class="col-lg-2">
                                @Html.OpMgrTextBoxFor(m => m.FName, UserResource.FName, new { @class = "form-control" })
                            </div>

                            <div class="col-lg-2">
                                @Html.OpMgrTextBoxFor(m => m.MName, UserResource.MName, new { @class = "form-control" })
                            </div>

                            <div class="col-lg-2">
                                @Html.OpMgrTextBoxFor(m => m.LName, UserResource.LName, new { @class = "form-control" })
                            </div>

                            <div class="col-lg-2">
                                @Html.OpMgrTextBoxFor(m => m.Role.RoleDescription, UserResource.Role, new { @class = "form-control" })
                            </div>

                            <div class="col-lg-2">
                                @Html.OpMgrTextBoxFor(m => m.BloodGroup, UserResource.BloodGrp, new { @class = "form-control" })
                            </div>

                            <div class="col-lg-2">
                                @Html.OpMgrDropDownListFor(m => m.Gender, Model.GenderList, UserResource.Gender, new { @class = "form-control" })
                            </div>

                            <div class="col-lg-2" style="vertical-align:bottom;margin-top:40px">
                                <button type="submit" class="btn btn-primary btn-block">@UserResource.SearchButton</button>
                            </div>
                        </fieldset>
                    }
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading"><b>@UserResource.UserTableName</b></div>
                <div class="panel-body">
                    <div style="overflow:scroll;">
                        <table class="table table table-striped table-bordered table-responsive table-hover " border="1" data-toggle="table" data-url="tables/data1.json" data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-search="true" data-select-item-name="toolbar1" data-pagination="true" data-sort-name="name" data-sort-order="desc">
                            <thead>
                                <tr>
                                    <th th data-field="name" data-checkbox="true">
                                        @Html.CheckBox("chkStudentHeader")

                                    </th>
                                    <th th data-field="name" data-sortable="true">
                                        @UserResource.Name
                                    </th>
                                    <th h data-field="standard" data-sortable="true">
                                        @UserResource.Gender
                                    </th>
                                    <th th data-field="section" data-sortable="true">
                                        @UserResource.EmailId
                                    </th>
                                    <th th data-field="roll number" data-sortable="true">
                                        @UserResource.ResidentialAddress
                                    </th>
                                    <th th data-field="registration" data-sortable="true">
                                        @UserResource.ContactNo
                                    </th>

                                    <th th data-field="contact" data-sortable="true">
                                        @UserResource.BloodGrp
                                    </th>

                                    <th th data-field="contact" data-sortable="true">
                                        @UserResource.Role
                                    </th>
                                    <th>
                                        @UserResource.UserActions
                                    </th>

                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    if (Model.IsSearchSuccessful)
                                    {
                                        foreach (var user in Model.UserList)
                                        {
                                            <tr>
                                                <td>
                                                    <input type="checkbox" name="chkStudent" value="@user.UserMasterId" />
                                                </td>
                                                <td>
                                                    @user.Name
                                                </td>
                                                @if (string.Equals(user.Gender, "1"))
                                                {
                                                    <td>Male</td>
                                                }
                                                else if (string.Equals(user.Gender, "2"))
                                                {
                                                    <td>Female</td>
                                                }
                                                else if (string.Equals(user.Gender, "3"))
                                                {
                                                    <td>Others</td>
                                                }


                                                <td>
                                                    @user.EmailId
                                                </td>
                                                <td>
                                                    @user.ResidentialAddress
                                                </td>
                                                <td>
                                                    @user.ContactNo
                                                </td>
                                                <td>
                                                    @user.BloodGroup

                                                </td>
                                                <td>
                                                    @user.Role.RoleDescription

                                                </td>
                                                <td>
                                                    <a href="/Login/Login/Register?mode=EDIT&id=@user.UserMasterId">Edit</a>
                                                    @Html.ActionLink("Delete", "Delete", new { studentId = user.UserMasterId }, null)
                                                </td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="8" align="center" style="font-style:oblique">
                                                No Data Found
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>


