@using OpMgr.Resources.Admin
@using OperationsManager.ExtendedHtmlHelpers
@model OperationsManager.Areas.Admin.Models.AdminViewModel

@{
    ViewBag.Title = AdminResource.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/paging.js"></script>

@section PageScripts{
    <script>
        $(document).ready(function () {
            $('#tableEntitlemap').paging({
                limit: 5,
            rowDisplayStyle: 'block',            
            activePage: 0,            
            rows: []            
        });


        });
    </script>
}
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading"><b>@AdminResource.Header</b></div>
            <div class="panel-body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <fieldset>
                        <div class="col-lg-5">
                            @Html.OpMgrDropDownListFor(m => m.ActionDetails.RowId, Model.ActionList, AdminResource.Action, new { @class = "form-control" })
                        </div>
                        <div class="col-lg-5">
                            @Html.OpMgrDropDownListFor(m => m.RoleDetails.UserRoleId, Model.EntitlementList, AdminResource.UserRole, new { @class = "form-control" })
                        </div>

                        <div class="col-lg-4">
                            <button type="submit" class="btn btn-primary">@AdminResource.AssignButton</button>
                        </div>
                    </fieldset>
                }
            </div>
        </div>


        <div class="panel panel-default">
            <div class="panel-heading"><b>@AdminResource.Header</b></div>
            <div class="panel-body">
                <table id="tableEntitlemap" class="table table table-striped table-bordered table-responsive table-hover " border="1" data-toggle="table" data-url="tables/data1.json" data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-search="true" data-select-item-name="toolbar1" data-pagination="true" data-sort-name="name" data-sort-order="desc">
                    <thead>
                        <tr>  
                            <th th data-field="standard" data-sortable="true">
                                @AdminResource.UserRole
                            </th>
                            <th h data-field="name" data-sortable="true">
                                @AdminResource.Action
                            </th>                            
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            if (Model.IsSearchSuccessful)
                            {
                                foreach (var entitlement in Model.entitlementactionList)
                                {
                                    <tr>
                                        <td>
                                            @entitlement.RoleDetails.RoleName
                                        </td>
                                        <td>
                                            @entitlement.ActionDetails.ActionName
                                        </td>                                        
                                        @*<td>
                                            <a href="/Login/Login/Register?mode=EDIT&id=@student.UserDetails.UserMasterId">Edit</a>
                                            @Html.ActionLink("Delete", "Delete", new { studentId = student.StudentInfoId }, null)
                                        </td>*@
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="8" align="center" style="font-style:oblique">
                                        No Data Found
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
        </div>
    </div>
