@using OpMgr.Resources.PMS
@using OperationsManager.ExtendedHtmlHelpers
@model OperationsManager.Areas.PMS.Models.PMSVM

@{
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@GoalSheetResource.GoalSheetBasedOnDesignation.</title>
</head>
<body>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-color panel-primary">
                <div class="panel-heading"><b>Initiate Appraisal</b></div>
                <div class="panel-body">
                    <div class="col-lg-3">
                        @Html.OpMgrDropDownListFor(m => m.AppraisalType, Model.AppraisalTypeList, GoalSheetResource.AppraisalType, new { @class = "form-control" })
                    </div>
                    <div class="col-lg-3" style="padding-top:30px;">
                        @Html.HiddenFor(m => m.MODE, new { id = "hfMode" })
                        @if (string.Equals(Model.MODE, "NotInitiated"))
                        {
                            @Html.OpMgrButtonWithIcon("initite", GoalSheetResource.InitiateAppraisal, new { @class = "btn btn-primary btn-block" }, "ion-paper-airplane", true)
                        }
                        else if (string.Equals(Model.MODE, "Initiated"))
                        {
                            <span>Appraisal Already Initiated</span>
                        }
                    </div>
                    <div class="col-lg-3">
                        
                    </div>
                    <div class="col-lg-3">

                    </div>
                </div>
            </div>
            <div class="panel panel-color panel-primary">
                <div class="panel-heading"><b>@GoalSheetResource.GoalSheetBasedOnDesignation</b></div>
                @if (Model != null)
                {
                    if (Model.IsSearchSuccessful)
                    {
                        foreach (var pms in Model.PMSVMList)
                        {
                            if (!String.IsNullOrEmpty(pms.AvgFinalLevel))
                            {
                                <div style="font-weight:bold; padding-top:10px;">
                                    <div class="col-lg-2">Avg Final Rating - </div>
                                    @Html.DisplayFor(m => pms.AvgFinalLevel)
                                </div>
                            }
                        }
                    }
                }


                <div class="panel-body">
                    <div style="overflow:scroll;">
                        <table class="table table table-striped table-bordered table-responsive table-hover " border="1" data-toggle="table" data-url="tables/data1.json" data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-search="true" data-select-item-name="toolbar1" data-pagination="true" data-sort-name="name" data-sort-order="desc">
                            <thead>
                                <tr>
                                    <th th data-field="name" data-sortable="true">
                                        @GoalSheetResource.Name
                                    </th>
                                    <th h data-field="Gender" data-sortable="true">
                                        @GoalSheetResource.Gender
                                    </th>
                                    <th th data-field="address" data-sortable="true">
                                        @GoalSheetResource.StaffEmployeeId
                                    </th>
                                    <th th data-field="contact" data-sortable="true">
                                        @GoalSheetResource.Location
                                    </th>
                                    <th th data-field="location" data-sortable="true">
                                        @GoalSheetResource.AppraisalType
                                    </th>
                                    <th th data-field="role" data-sortable="true">
                                        @GoalSheetResource.AppraisalStatus
                                    </th>
                                    <th>
                                        @GoalSheetResource.Designation
                                    </th>
                                    <th>
                                        @GoalSheetResource.Edit
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    if (Model.IsSearchSuccessful)
                                    {
                                        foreach (var pms in Model.PMSVMList)
                                        {
                                            <tr>
                                                <td>
                                                    @pms.FullName
                                                </td>
                                                @if (string.Equals(pms.UserDetails.Gender, "1"))
                                                {
                                                    <td>Male</td>
                                                }
                                                else if (string.Equals(pms.UserDetails.Gender, "2"))
                                                {
                                                    <td>Female</td>
                                                }
                                                else
                                                {
                                                    <td></td>
                                                }

                                                <td>
                                                    @pms.Employee.StaffEmployeeId
                                                </td>
                                                <td>
                                                    @pms.UserDetails.Location.LocationDescription
                                                </td>
                                                <td>
                                                    @pms.AppraisalType
                                                </td>
                                                <td>
                                                    @pms.AppraisalStatus.AppraisalStatusDescription

                                                </td>
                                                <td>
                                                    @pms.Employee.Designation.DesignationDescription

                                                </td>
                                                <td>
                                                    @Html.HiddenFor(m => m.MODE, new { id = "hfMode" })
                                                    @Html.OpMgrActionLinkMultiple("EDIT", "../../PMS/PMS/GoalSheetForAll?apprMasterId=" + pms.EmployeeAppraisalMasterId + "&designationId" + pms.Employee.Designation.DesignationId, new { name = "editPMS" })
                                                </td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="8" align="center" style="font-style:oblique">
                                                No Data Found
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>
</html>
