@using OpMgr.Resources.PMS
@using OperationsManager.ExtendedHtmlHelpers
@model OperationsManager.Areas.PMS.Models.PMSVM

@{
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

@section PageScripts
{
    <script src="~/Scripts/DataTables-1.10.16/media/js/jquery.dataTables.js"></script>


    <script type="text/javascript" language="javascript">
        $(document).ready(function () {
            

            $("#searchAppraisee tbody tr td img").attr('title', 'View Appraisal Details');
            $("#searchAppraisee tbody tr td img").click(function () {
                ////debugger;
                ////alert("Hi");
                var tableRow = this.parentNode.parentNode;
                if (this.src.match("expand")) {
                    debugger;
                    var pmsId = $(this).attr("rel");
                    this.src = "../../Images/collapse.png"
                    $(this).attr("title", "Collapse");
                    $.get("AppraisalDetails?pmsId=" + pmsId, function (data) {
                        oTable.fnOpen(tableRow, data, '');
                    });
                }
                else {
                    if (this.src.match("collapse")) {
                        debugger;
                        this.src = "../../Images/expand.png";
                        $(this).attr("title", "View Appraisal Details");
                        oTable.fnClose(tableRow);
                    }
                }
            })

            var oTable = $("#searchAppraisee").dataTable({
                responsive: true
            });
        });

        function setMode(mode) {
            
            document.getElementById("hdnPostMode").value = mode;
            if (mode == "PMSHeadApprove")
            {
                var answer = confirm("Do You Want to allow All Appraiser to Release Final Rating for PMS?");
                if (answer) {
                    return true;
                }
                else {
                    return false;
                }                
            }
            else if (mode == "ExcelForPMSHead") {
                var designation = $('#PMSDesignation option:selected').text();
                if (designation == "")
                {
                    alert("Please Select at least a designation to fetch Excel for PMS Review");
                    return false;
                }
                else
                {
                    return true;
                }               
                
            }
            else {
                return false;
            }
            return false;
        }
        
    </script>

}
<!DOCTYPE html>

<html>
<head>
    <!--For data table-->


    <meta name="viewport" content="width=device-width" />
    <title>SearchAppraisee</title>
    @*<script src="~/Scripts/jquery-1.10.2.js"></script>
        <script src="~/Scripts/DataTables-1.10.16/media/js/jquery.dataTables.js"></script>*@



</head>
<body>

    <div class="row">
        <div class="col-lg-12">

            <div class="panel panel-color panel-primary">
                <div class="panel-heading"><b>@GoalSheetResource.SearchAppraiseeHeader</b></div>
                <div class="panel-body">

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <fieldset>
                            <div class="row col-lg-12">
                                <div class="col-lg-2">
                                    @Html.OpMgrTextBoxFor(m => m.Employee.UserDetails.FName, GoalSheetResource.FirstName, new { @class = "form-control" })
                                </div>
                                <div class="col-lg-2">
                                    @Html.OpMgrTextBoxFor(m => m.Employee.UserDetails.LName, GoalSheetResource.LastName, new { @class = "form-control" })
                                </div>
                                <div class="col-lg-2">
                                    @Html.OpMgrTextBoxFor(m => m.Employee.StaffEmployeeId, GoalSheetResource.StaffEmployeeId, new { @class = "form-control" })
                                </div>
                                <div class="col-lg-2">
                                    @Html.OpMgrDropDownListFor(m => m.AppraisalType, Model.AppraisalTypeList, GoalSheetResource.AppraisalType, new { @class = "form-control" })
                                </div>
                                @*<div class="col-lg-2">
                                    @Html.OpMgrDropDownListFor(m => m.AppraisalStatus, Model.AppraisalStatusList, GoalSheetResource.AppraisalStatus, new { @class = "form-control" })
                                </div>*@
                                <div class="col-lg-2">
                                    @Html.OpMgrDropDownListFor(m => m.Employee.UserDetails.Gender, Model.GenderList, GoalSheetResource.Gender, new { @class = "form-control" })
                                </div>
                                <div class="col-lg-2">
                                    @Html.OpMgrDropDownListFor(m =>m.PMSDesignation, Model.PMSDesignationList, GoalSheetResource.Designation, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="row col-lg-12">
                                <div class="col-lg-2">
                                    @Html.OpMgrSubmitButtonWithIcon("Command", GoalSheetResource.SearchAppraisalBtn, new { @class = "btn btn-pink btn-block", onclick = "setMode('Search');" }, "fa fa-search")
                                </div>
                                <div class="col-lg-2">
                                    @Html.OpMgrSubmitButtonWithIcon("btnrating", GoalSheetResource.ReleaseFinalRating, new { @class = "btn btn-primary btn-block", id = "btnPmsQueueRating", onclick = "return setMode('PMSHeadApprove');" }, "ion-person-add")
                                    @*<button type="submit" class="btn btn-primary" id = "btnPmsQueueRating" onclick="return setMode('PMSHeadApprove');">Release Final Rating</button>*@
                                    @*@Html.OpMgrButtonWithIcon("Command", GoalSheetResource.ReleaseFinalRating, new { @class = "btn btn-primary btn-block", onclick = "return setMode('PMSHeadApprove');", id = "btnPmsQueueRating", style = ""}, "ion-person-add", true)*@                                    
                                </div>
                                <div class="col-lg-2">
                                    @Html.OpMgrSubmitButtonWithIcon("btnExcel", GoalSheetResource.ExcelPMSHead, new { @class = "btn btn-primary btn-block", id = "btnExcelPMSHead", onclick = "return setMode('ExcelForPMSHead');" }, "ion-person-add")
                                    @*<button type="submit" class="btn btn-primary" id = "btnExcelPMSHead" onclick="return setMode('ExcelForPMSHead');">Excel For PMS Head</button>*@
                                    @*@Html.OpMgrButtonWithIcon("Command", GoalSheetResource.ExcelPMSHead, new { @class = "btn btn-primary btn-block", onclick = "return setMode('ExcelForPMSHead');", id = "btnExcelPMSHead", style = ""}, "ion-person-add", true)*@

                                </div>
                                <div style="display:none;" id="divContainerHddnFlds">                                    
                                    @Html.HiddenFor(m => m.MODE, new { id = "hdnPostMode" })
                                </div>
                            </div>
                        </fieldset>
                    }
                </div>
            </div>
            <div class="panel panel-color panel-primary">
                <div class="panel-heading"><b>@GoalSheetResource.AppraiseeResult</b></div>
                <div class="panel-body">
                    <div style="overflow:scroll;">
                        <table id="searchAppraisee" class="table table table-striped table-bordered table-responsive table-hover " border="1" data-toggle="table" data-url="tables/data1.json" data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-search="false" data-select-item-name="toolbar1" data-pagination="false" data-sort-name="name" data-sort-order="desc">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th th data-field="name" data-sortable="true">
                                        @GoalSheetResource.Name
                                    </th>
                                    <th h data-field="Gender" data-sortable="true">
                                        @GoalSheetResource.Gender
                                    </th>
                                    <th th data-field="address" data-sortable="true">
                                        @GoalSheetResource.StaffEmployeeId
                                    </th>
                                    @*<th th data-field="contact" data-sortable="true">
                                        @GoalSheetResource.Location
                                    </th>*@
                                    <th th data-field="location" data-sortable="true">
                                        @GoalSheetResource.AppraisalType
                                    </th>
                                    @*<th th data-field="role" data-sortable="true">
                                        @GoalSheetResource.AppraisalStatus
                                    </th>
                                    <th>
                                        @GoalSheetResource.Designation
                                    </th>*@
                                    @*<th>
                                        @GoalSheetResource.Action
                                    </th>*@
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    if (Model.IsSearchSuccessful)
                                    {
                                        foreach (var pms in Model.PMSVMList)
                                        {
                                            <tr>
                                                <td>
                                                    <img alt="Expand" src="~/Images/expand.png" rel="@pms.EmpAppPmsMasterId" width="20px" style="cursor:pointer" />
                                                </td>
                                                <td>
                                                    @pms.FullName
                                                </td>
                                                @if (string.Equals(pms.UserDetails.Gender, "1"))
                                                {
                                                    <td>Male</td>
                                                }
                                                else if (string.Equals(pms.UserDetails.Gender, "2"))
                                                {
                                                    <td>Female</td>
                                                }
                                                else
                                                {
                                                    <td></td>
                                                }

                                                <td>
                                                    @pms.Employee.StaffEmployeeId
                                                </td>
                                                @*<td>
                                                    @pms.UserDetails.Location.LocationDescription
                                                </td>*@
                                                <td>
                                                    @pms.AppraisalType
                                                </td>
                                                @*<td>
                                                    @pms.AppraisalStatus.AppraisalStatusDescription

                                                </td>
                                                <td>
                                                    @pms.Employee.Designation.DesignationDescription

                                                </td>*@
                                                @*<td>
                                                    @Html.OpMgrActionLinkMultiple("EDIT", "../../PMS/PMS/GoalSheetForAll?apprMasterId=" + pms.EmployeeAppraisalMasterId, new { name = "editPMS" })
                                                </td>*@
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="8" align="center" style="font-style:oblique; color:Highlight" >
                                                No Data Found
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
@*<script src="~/Scripts/jquery-1.10.2.js"></script>*@
@*<script src="~/Scripts/DataTables-1.10.16/media/js/jquery.dataTables.js"></script>


    <script type="text/javascript" language="javascript">
        $(document).ready(function () {
            debugger;

            $("#searchAppraisee tbody tr td img").attr('title', 'View Appraisal Details');
            $("#searchAppraisee tbody tr td img").click(function () {
                ////debugger;
                ////alert("Hi");
                var tableRow = this.parentNode.parentNode;
                if (this.src.match("expand")) {
                    debugger;
                    this.src = "../../Images/collapse.png";

                    //$.get("AppraisalDetails.cshtml", function (data) {
                    //    debugger;
                    //    if(data!=null)
                    //    tableRow.innerHTML = data;
                    //});


                }
                else {
                    if (this.src.match("collapse")) {
                        debugger;
                        this.src = "../../Images/expand.png";
                    }
                }
            })

            var oTable = $("#searchAppraisee").dataTable({
                responsive: true
            });
        });

    </script>*@
