@using OpMgr.Resources.PMS
@using OperationsManager.ExtendedHtmlHelpers
@model OperationsManager.Areas.PMS.Models.PMSVM

@{
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SearchAppraisee</title>
</head>
<body>

    <div class="row">
        <div class="col-lg-12">

            <div class="panel panel-color panel-primary">
                <div class="panel-heading"><b>@GoalSheetResource.SearchAppraiseeHeader</b></div>
                <div class="panel-body">

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <fieldset>
                            <div class="row col-lg-12">
                                <div class="col-lg-2">
                                    @Html.OpMgrTextBoxFor(m => m.Employee.UserDetails.FName, GoalSheetResource.FirstName, new { @class = "form-control" })
                                </div>                               
                                <div class="col-lg-2">
                                    @Html.OpMgrTextBoxFor(m => m.Employee.UserDetails.LName, GoalSheetResource.LastName, new { @class = "form-control" })
                                </div>
                                <div class="col-lg-2">
                                    @Html.OpMgrTextBoxFor(m => m.Employee.StaffEmployeeId, GoalSheetResource.StaffEmployeeId, new { @class = "form-control" })
                                </div>
                                <div class="col-lg-2">
                                    @Html.OpMgrDropDownListFor(m => m.AppraisalType, Model.AppraisalTypeList,  GoalSheetResource.AppraisalType, new { @class = "form-control" })
                                </div>
                                <div class="col-lg-2">
                                        @Html.OpMgrDropDownListFor(m => m.AppraisalStatus, Model.AppraisalStatusList, GoalSheetResource.AppraisalStatus, new { @class = "form-control" })
                                    </div>
                                <div class="col-lg-2">
                                    @Html.OpMgrDropDownListFor(m => m.Employee.UserDetails.Gender, Model.GenderList, GoalSheetResource.Gender, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="row col-lg-12">
                                <div class="col-lg-2">
                                    @Html.OpMgrSubmitButtonWithIcon("Command", GoalSheetResource.SearchAppraisalBtn, new { @class = "btn btn-pink btn-block" }, "fa fa-search")                                    
                                </div>                                
                            </div>
                        </fieldset>
                    }
                </div>
            </div>
            <div class="panel panel-color panel-primary">
                <div class="panel-heading"><b>@GoalSheetResource.AppraiseeResult</b></div>
                <div class="panel-body">
                    <div style="overflow:scroll;">
                        <table class="table table table-striped table-bordered table-responsive table-hover " border="1" data-toggle="table" data-url="tables/data1.json" data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-search="true" data-select-item-name="toolbar1" data-pagination="true" data-sort-name="name" data-sort-order="desc">
                            <thead>
                                <tr>                                    
                                    <th th data-field="name" data-sortable="true">
                                        @GoalSheetResource.Name
                                    </th>
                                    <th h data-field="Gender" data-sortable="true">
                                        @GoalSheetResource.Gender
                                    </th>                                    
                                    <th th data-field="address" data-sortable="true">
                                        @GoalSheetResource.StaffEmployeeId
                                    </th>
                                    <th th data-field="contact" data-sortable="true">
                                        @GoalSheetResource.Location
                                    </th>
                                    <th th data-field="location" data-sortable="true">
                                        @GoalSheetResource.AppraisalType
                                    </th>
                                    <th th data-field="role" data-sortable="true">
                                        @GoalSheetResource.AppraisalStatus
                                    </th>
                                    <th>
                                        @GoalSheetResource.Designation
                                    </th>

                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    if (Model.IsSearchSuccessful)
                                    {
                                        foreach (var pms in Model.PMSVMList)
                                        {
                                            <tr>                                               
                                                <td>
                                                    @pms.FullName
                                                </td>
                                                @if (string.Equals(pms.UserDetails.Gender, "1"))
                                                {
                                                    <td>Male</td>
                                                }
                                                else if (string.Equals(pms.UserDetails.Gender, "2"))
                                                {
                                                    <td>Female</td>
                                                }                                                
                                                else
                                                {
                                                    <td></td>
                                                }

                                                <td>
                                                    @pms.Employee.StaffEmployeeId
                                                </td>
                                                <td>
                                                    @pms.UserDetails.Location.LocationDescription
                                                </td>
                                                <td>
                                                    @pms.AppraisalType
                                                </td>
                                                <td>
                                                    @pms.AppraisalStatus.AppraisalStatusDescription

                                                </td>
                                                <td>
                                                    @pms.Employee.Designation.DesignationDescription

                                                </td>
                                                <td>
                                                    @Html.OpMgrActionLinkMultiple("EDIT", "../../PMS/PMS/GoalSheetForAll?mode=EDIT&id=" + pms.EmployeeAppraisalMasterId, new { name = "editPMS" })                                                    
                                                </td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="8" align="center" style="font-style:oblique">
                                                No Data Found
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
