@using OpMgr.Resources.Common
@using Ninject
@using OpMgr.Common.Contracts
@using OperationsManager.Helpers;
@using OpMgr.Common.DTOs;
@{
    NinjectControllerFactory ncf = new NinjectControllerFactory();
    IKernel kernel = ncf.GetNinjectKernel();
    List<OperationsManager.Models.MenuModel> menu = new List<OperationsManager.Models.MenuModel>();

    OperationsManager.Helpers.MenuHelper menuHelper = new OperationsManager.Helpers.MenuHelper();
    menu = menuHelper.GetMenuItems(kernel.Get<ISessionSvc>());
    SessionDTO session = kernel.Get<ISessionSvc>().GetUserSession();

    System.Web.HttpContext.Current.Response.Cache.SetCacheability(System.Web.HttpCacheability.NoCache);

    System.Web.HttpContext.Current.Response.Cache.SetNoStore();
}

@{

    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

@section PageScripts
{
    <script type="text/javascript">
        @*artyom.say("Hey, @(session.LName.Replace(".",string.Empty)), welcome to the application. This application is powered by voice control. Listen carefully to the commands. ", {
            onStart: function () {
                console.log("Welcome message!");
            },
            onEnd: function () {
                console.log("Message ends!");
            }
        });

        artyom.say("To go to any page please say 'go to' then page name.");*@
    </script>
}

<html>
<head>
    @*<image src="~/Images/schoollogo.png"></image>*@

</head>
<body style="background-image:url(schoolbuilding.jpg); background-repeat:no-repeat">
    @*<image src="~/Images/schoolbuilding.jpg" style="width:100%"></image>*@
    <div class="wraper container-fluid">
        <div class="page-title">
            <h3 class="title">Dashboard </h3>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="widget-panel widget-style-1 bg-success">
                            <div class="status">
                                <h3 class="m-t-0">@session.StudentCount</h3>
                                <a href="/Student/Student/Search"><p>Student</p></a>
                                <i class="fa fa-user"></i>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <div class="panel">
                            <h3 class="h2 text-primary">@session.StaffCount</h3>
                            <a href="/User/User/Search"><p>Employee</p></a>
                            <div class="text-right">
                                <i class="fa fa-user fa-2x text-primary"></i>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <div class="widget-panel widget-style-1 bg-warning">
                            <div class="status">
                                <h3 class="m-t-0">@session.PaidStudentCount</h3>
                                <a href="/Transaction/Transaction/Search"><p>No Of Student Paid</p></a>
                                <i class="fa fa-usd"></i>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <div class="panel">
                            <div class="h2 text-purple">@session.PendingPaymentCount</div>
                            <a href="/Transaction/Payment/GetPayment"><p>Payment Remaing Student</p></a>
                            <div class="text-right">
                                <i class="fa fa-usd fa-2x text-purple"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="widget-panel widget-style-1 bg-pink">
                            <div class="status">
                                <a href="/Student/Student/PromoteToNewClass" class="m-t-0"><p>Promote</p></a>
                                <h3 class="m-t-0">Student</h3>
                                <i class="fa fa-book" style="padding-top:30px"></i>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <div class="widget-panel widget-style-1 bg-success">
                            <div class="status">
                                <a href="/Admin/Admin/ActionUserRoleMapping" class="m-t-0"><p>Role</p></a>
                                <h3 class="m-t-0">Mapping</h3>
                                <div class="text-right">
                                    <i class="fa fa-cog"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <div class="widget-panel widget-style-1 bg-info">                            
                                <h3 class="m-t-0">@session.PaidCountlast7day</h3>
                                <p>Student Paid in Last Week</p>                            
                            <div class="chart-inline">
                                <i class="fa fa-inr"></i>
                                @*<span class="inlinesparkline"></span>*@
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <div class="widget-panel widget-style-1 bg-pink">
                            <div class="status">
                                <a href="/DataImport/DataImport/Upload"><p>Upload</p></a>
                                <h3 class="m-t-0">Data</h3>
                                <div class="text-right">
                                    <i class="ion-upload"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</body>
</html>

