@using OpMgr.Resources.User
@using OperationsManager.ExtendedHtmlHelpers
@model OpMgr.Common.DTOs.UserMasterDTO

@{
    ViewBag.Title = "Login";
}
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc.">
    <meta name="author" content="Coderthemes">

    <link rel="shortcut icon" href="~/admin/img/favicon_1.ico">

    <title>St. Augustine's Day School</title>

    <!-- Google-Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:100,300,400,600,700,900,400italic' rel='stylesheet'>

    <!-- Bootstrap core CSS -->
    <link href="~/admin/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/admin/css/bootstrap-reset.css" rel="stylesheet">

    <!--Animation css-->
    <link href="~/admin/css/animate.css" rel="stylesheet">

    <!--Icon-fonts css-->
    <link href="~/admin/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/admin/assets/ionicon/css/ionicons.min.css" rel="stylesheet" />

    <!--Morris Chart CSS -->
    <link rel="stylesheet" href="~/admin/assets/morris/morris.css">

    <!-- sweet alerts -->
    <link href="~/admin/assets/sweet-alert/sweet-alert.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="~/admin/css/style.css" rel="stylesheet">
    <link href="~/admin/css/helper.css" rel="stylesheet">
    <link href="~/admin/css/style-responsive.css" rel="stylesheet" />
    <link href="~/Content/OpMgrCommonStyles.css" rel="stylesheet" />
    <link href="~/Scripts/jquery-ui.css" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    <div class="row" style="height:500px;">
        <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
    
        <div class="panel panel-color panel-primary">
            <div class="panel-heading">
                <h3 class="text-center m-t-10" style="color:wheat; text-align:left;"> @LoginResource.PageHeader </h3>
            </div>
            <div class="panel-body">

                @using (Html.BeginForm("Login","Login",FormMethod.Post,new { id="loginForm" }))
                    {
                    @Html.AntiForgeryToken()
                    <fieldset>
                        @Html.OpMgrTextBoxFor(m => m.UserName, LoginResource.UserName, new { @class = "form-control", data_rule_required = "true", data_msg_required = "User id is required"@*, data_rule_email="true", data_msg_email="Email is not valid"*@ })

                        @Html.OpMgrPasswordFor(m => m.Password, LoginResource.Password, new { @class = "form-control", data_rule_required = "true", data_msg_required = "Password is required" })

                        <div class="checkbox">
                            <i class="fa"></i>
                            <label>
                                @Html.CheckBoxFor(m=>m.RememberMe) @LoginResource.RememberMe
                            </label>
                        </div>                        
                        <div>
                            <button type="submit" class="btn btn-primary btn-lg m-b-5"><i class="fa fa-key"></i>&nbsp;&nbsp;&nbsp;<span>@LoginResource.loginButton</span></button>
                        </div>
                        <div class="checkbox">
                            <label style="color:red" class="cr-styled">@Model.LoginFailedMsg</label>
                        </div>
                        <br />
                        <br />
                        <div class="forgotPassword" style="text-align:right">
                            <a style="cursor:pointer" onclick="forgotPassword();"><i class="fa fa-lock m-r-5"></i>Forgot Password</a>
                        </div>

                    </fieldset>
                    }

            </div>
        </div>

    </div><!-- /.col-->
</div><!-- /.row -->
    <script src="~/admin/js/jquery.js"></script>
    <script src="~/admin/js/bootstrap.min.js"></script>
    <script src="~/admin/js/modernizr.min.js"></script>
    <script src="~/admin/js/pace.min.js"></script>
    <script src="~/admin/js/wow.min.js"></script>
    <script src="~/admin/js/jquery.scrollTo.min.js"></script>
    <script src="~/admin/js/jquery.nicescroll.js" type="text/javascript"></script>
    <script src="~/admin/assets/chat/moment-2.2.1.js"></script>

    <!-- Counter-up -->
    <script src="~/admin/js/waypoints.min.js" type="text/javascript"></script>
    <script src="~/admin/js/jquery.counterup.min.js" type="text/javascript"></script>

    <!-- EASY PIE CHART JS -->
    <script src="~/admin/assets/easypie-chart/easypiechart.min.js"></script>
    <script src="~/admin/assets/easypie-chart/jquery.easypiechart.min.js"></script>
    <script src="~/admin/assets/easypie-chart/example.js"></script>


    <!--C3 Chart-->
    <script src="~/admin/assets/c3-chart/d3.v3.min.js"></script>
    <script src="~/admin/assets/c3-chart/c3.js"></script>

    <!--Morris Chart-->
    @*<script src="~/admin/assets/morris/morris.min.js"></script>
    <script src="~/admin/assets/morris/raphael.min.js"></script>*@

    <!-- sparkline -->
    <script src="~/admin/assets/sparkline-chart/jquery.sparkline.min.js" type="text/javascript"></script>
    <script src="~/admin/assets/sparkline-chart/chart-sparkline.js" type="text/javascript"></script>

    <!-- sweet alerts -->
    <script src="~/admin/assets/sweet-alert/sweet-alert.min.js"></script>
    <script src="~/admin/assets/sweet-alert/sweet-alert.init.js"></script>

    <script src="~/admin/js/jquery.app.js"></script>
    <!-- Chat -->
    <script src="~/admin/js/jquery.chat.js"></script>
    <!-- Dashboard -->
    @*<script src="~/admin/js/jquery.dashboard.js"></script>*@

    <!-- Todo -->
    <script src="~/admin/js/jquery.todo.js"></script>
    <script src="~/Content/jquery-validation-1.16.0/dist/jquery.validate.js"></script>
    <script src="~/Scripts/jqModalDialog.js"></script>
    <script type="text/javascript">
        /* ==============================================
             Counter Up
             =============================================== */
        jQuery(document).ready(function ($) {
            $('.counter').counterUp({
                delay: 100,
                time: 1200
            });
        });
    </script>
    <script>
    $(document).ready(function () {
        var loginForm = $("#loginForm");
        $("#loginForm").validate();
    });
    </script>
    <script type="text/javascript" language="javascript">


    function forgotPassword() {

        $.showModalDialog({
            url: "/Login/Login/ForgotPassword",
            height: 400,
            width: 600,
            position: { my: "center", at: "middle", of: window },
            scrollable: false,
            open: function (event, ui) {
                this.css('overflow', 'scroll');
            },
            onclose: function () {
                var returnedValue = this.returnValue;
                if (returnedValue) {
                    //do something
                }
            }
        });
    }
    </script>

</body>    
</html>
