@using OpMgr.Resources.User
@using OperationsManager.ExtendedHtmlHelpers
@model OpMgr.Common.DTOs.UserMasterDTO

@{
    ViewBag.Title = "Login";
}
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@LoginResource.PageTitle</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/datepicker3.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div class="row" style="height:500px;">
        <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">@LoginResource.PageHeader</div>
                <div class="panel-body">

                    @using (Html.BeginForm("Login","Login",FormMethod.Post,new { id="loginForm" }))
                    {
                        @Html.AntiForgeryToken()
                        <fieldset>
                            @Html.OpMgrTextBoxFor(m => m.UserName, LoginResource.UserName, new { @class = "form-control requiredField", data_rule_required = "true", data_msg_required = "User id is required"@*, data_rule_email="true", data_msg_email="Email is not valid"*@ })

                            @Html.OpMgrPasswordFor(m => m.Password, LoginResource.Password, new { @class = "form-control", data_rule_required = "true", data_msg_required = "Password is required" })

                            <div class="checkbox">
                                <label>
                                    @Html.CheckBoxFor(m=>m.RememberMe) @LoginResource.RememberMe
                                </label>
                            </div>
                            <button type="submit" class="btn btn-primary">@LoginResource.loginButton</button>
                            <div class="checkbox">
                                <label style="color:red">@Model.LoginFailedMsg</label>
                            </div>
                        </fieldset>
                    }

                </div>
            </div>
        </div><!-- /.col-->
    </div><!-- /.row -->
</body>
@section PageScripts
{
    <script>
            $(document).ready(function () {
                var loginForm = $("#loginForm");
	        $("#loginForm").validate();
	    });
    </script>
}


</html>
