@using OpMgr.Resources.User
@using OperationsManager.ExtendedHtmlHelpers
@model OperationsManager.Areas.Login.Models.UserViewModel


@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section PageScripts{
    <script>
        $(document).ready(function () {

            var loginForm = $("#registerform");
            $("#registerform").validate();

            //$('.admissiondate').datepicker({ dateFormat: 'dd-M-yy' });
            $('.DOB-picker').datepicker({ dateFormat: 'dd-M-yy' });
            $('.dateofjoining').datepicker({ dateFormat: 'dd-M-yy' });

            // If Department = Teaching THEN ClassType will display, If classtype is MEDIUM or SENIOR then Subject/Specialization will appear
            var deptId = $("#Employee_Department_DepartmentId").val();
            if (deptId == 1) {
                $("#divClasstype").show();
                
                var classTypeId = $("#Employee_ClassType_ClassTypeId").val();
                if(classTypeId > 2)
                {
                    $("#divSpecilizaion").show();
                }
                else
                {
                    $("#divSpecilizaion").hide();
                }
            }            
            else {
                $("#divClasstype").hide();
                $("#divSpecilizaion").hide();
            }

            // If Selected Department = Teaching THEN ClassType will display, If classtype is MEDIUM or SENIOR then Subject/Specialization will appear
            $("#Employee_Department_DepartmentId").change(function () {
                var deptId = $("#Employee_Department_DepartmentId").val();

                if (deptId == 1) {
                    $("#divClasstype").show();

                    $("#Employee_ClassType_ClassTypeId").change(function () {
                        var classTypeId = $("#Employee_ClassType_ClassTypeId").val();
                        if (classTypeId > 2) {
                            $("#divSpecilizaion").show();
                        }
                        else
                        {
                            $("#divSpecilizaion").hide();
                        }
                    });                    
                }
                else {
                    $("#divClasstype").hide();
                    $("#divSpecilizaion").hide();
                }
                return false;
            });

            //If classtype is MEDIUM or SENIOR then Subject/Specialization will appear
            $("#Employee_ClassType_ClassTypeId").change(function () {
                var classTypeId = $("#Employee_ClassType_ClassTypeId").val();
                if (classTypeId > 2) {
                    $("#divSpecilizaion").show();
                }
                else {
                    $("#divSpecilizaion").hide();
                }
            });

        });

        function assignRoles() {
            debugger;
            var table = document.getElementById("tblRoles");
            var tbody = table.getElementsByTagName("tbody")[0];
            var nextRowId = tbody.getElementsByTagName("tr").length;
            var newRow = document.createElement("tr");

            var firstCell = document.createElement("td");
            var hiddenInput = document.createElement("input");
            hiddenInput.type = "hidden";
            hiddenInput.name = "UserEntitlementList[" + nextRowId + "].RowId";
            hiddenInput.value = "-1";
            firstCell.style.display = "none";
            firstCell.appendChild(hiddenInput);

            var scndCell = document.createElement("td");
            var ddlTrUserEntitle = document.createElement("select");
            ddlTrUserEntitle.name = "UserEntitlementList[" + nextRowId + "].RoleDetails.UserRoleId";
            ddlTrUserEntitle.className = "form-control";
            populateTrUserEntDDL(ddlTrUserEntitle);
            scndCell.appendChild(ddlTrUserEntitle);

            var thirdCell = document.createElement("td");
            var aDelete = document.createElement("a");
            aDelete.innerHTML = "Delete";
            aDelete.style.cursor = "pointer";
            $(aDelete).attr('onclick', 'deleteRow(this);');
            thirdCell.appendChild(aDelete);

            newRow.appendChild(firstCell);
            newRow.appendChild(scndCell);
            newRow.appendChild(thirdCell);

            tbody.appendChild(newRow);

            return false;
        }

        function deleteRow(aDelete) {
            var row = aDelete.parentNode.parentNode;
            var table = document.getElementById("tblRoles");
            var tbody = table.getElementsByTagName("tbody")[0];
            tbody.removeChild(row);
        }

        function populateTrUserEntDDL(ddlTrUserEntitle) {
            $.ajax({
                type: 'POST',
                url: 'GetUserEntitlementDDL',
                dataType: "json",
                success: function (resultData) { populateTrUserEntityDDL(resultData, ddlTrUserEntitle); },
                error: function (error) { }
            });
        }

        function populateTrUserEntityDDL(trnsUserEnt, ddlTrUserEntitle) {
            debugger;
            var ddlTrUserEntitles = ddlTrUserEntitle;
            ddlTrUserEntitles.innerHTML = "";
            for (i = -1; i < trnsUserEnt.length; i++) {
                var option = document.createElement("option");
                if (i == -1) {
                    option.value = "-1";
                    option.innerHTML = "";
                }
                else {
                    option.value = trnsUserEnt[i].UserRoleId;
                    option.innerHTML = trnsUserEnt[i].RoleName;
                }
                ddlTrUserEntitles.appendChild(option);
            }
        }


        function deleteUserEntitleMent(uEntId) {
            var uEnts = new Object();
            uEnts.RowId = parseInt(uEntId);
            $.ajax({
                type: 'POST',
                url: 'DeleteUserEntitlement',
                data: uEnts,
                dataType: "json",
                success: function (resultData) { window.location.reload(); },
                error: function (error) { }
            });
        }
    </script>
}
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading"><b>@UserResource.PageHeader</b></div>
            <div class="panel-body">

                @using (Html.BeginForm("Register", "Login", FormMethod.Post, new { id = "registerform" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="row">
                        @Html.ActionLink("Back", "Search", "User", new { Area = "User" }, null)
                    </div>
                    <div>
                        <fieldset class="@Model.DisabledClass">
                            <div class="col-lg-5">
                                @Html.OpMgrTextBoxFor(m => m.FName, UserResource.FName, new { @class = "form-control", data_rule_required = "true", data_msg_required = "First Name is required" })
                                @Html.HiddenFor(m => m.MODE)
                                @Html.HiddenFor(m => m.UserMasterId)
                            </div>
                            <div class="col-lg-5">
                                @Html.OpMgrTextBoxFor(m => m.MName, UserResource.MName, new { @class = "form-control" })
                            </div>
                            <div class="col-lg-5">
                                @Html.OpMgrTextBoxFor(m => m.LName, UserResource.LName, new { @class = "form-control", data_rule_required = "true", data_msg_required = "Last Name is required" })
                            </div>
                            <div class="col-lg-5">
                                @Html.OpMgrTextBoxFor(m => m.ContactNo, UserResource.ContactNo, new { @class = "form-control", data_rule_required = "true", data_msg_required = "Contact Number is required" })
                            </div>
                            <div class="col-lg-5">
                                @Html.OpMgrTextBoxFor(m => m.AltContactNo, UserResource.AltContactNo, new { @class = "form-control" })
                            </div>
                            <div class="col-lg-5">
                                @Html.OpMgrTextBoxFor(m => m.EmailId, UserResource.EmailId, new { @class = "form-control email", data_rule_required = "true", data_msg_required = "Valid Email is required" })
                            </div>
                            <div class="col-lg-5">
                                @Html.OpMgrTextBoxFor(m => m.DOBString, UserResource.DateOfBirth, new { @class = "DOB-picker form-control", data_rule_required = "true", data_msg_required = "Date of Birth is required" })
                            </div>
                            <div class="col-lg-5">
                                @Html.OpMgrTextBoxFor(m => m.BloodGroup, UserResource.BloodGrp, new { @class = "form-control", data_rule_required = "true", data_msg_required = "Blood Group is required" })
                            </div>
                            <div class="col-lg-5">
                                @Html.OpMgrTextAreaFor(m => m.ResidentialAddress, UserResource.ResidentialAddress, new { @class = "form-control", data_rule_required = "true", data_msg_required = "Residential Address is required" })
                            </div>
                            <div class="col-lg-5">
                                @Html.OpMgrTextAreaFor(m => m.PermanentAddress, UserResource.ParmanentAddress, new { @class = "form-control", data_rule_required = "true", data_msg_required = "Permanent Address is required" })
                            </div>
                            <div class="col-lg-5">
                                @Html.OpMgrDropDownListFor(m => m.Location.LocationId, Model.LocationList, UserResource.Location, new { @class = "form-control", data_rule_required = "true", data_msg_required = "Location is required" })
                            </div>
                            <div class="col-lg-5">
                                @Html.OpMgrDropDownListFor(m => m.Gender, Model.GenderList, UserResource.Gender, new { @class = "form-control", data_rule_required = "true", data_msg_required = "Gender is required" })
                            </div>
                            <div class="col-lg-5">
                                @Html.OpMgrTextBoxFor(m => m.DOJString, UserResource.DateOfJoining, new { @class = "dateofjoining form-control", data_rule_required = "true", data_msg_required = "Date of joining is required" })
                            </div>
                            <div class="col-lg-5">
                                @Html.OpMgrTextBoxFor(m => m.Employee.StaffEmployeeId, UserResource.StaffEmployeeId, new { @class = "form-control", data_rule_required = "true", data_msg_required = "Staff EmployeeId is required" })
                            </div>
                            <div class="col-lg-5">
                                @Html.OpMgrTextBoxFor(m => m.Employee.EducationalQualification, UserResource.EducationQualification, new { @class = "form-control", data_rule_required = "true", data_msg_required = "Education Qualificattion is required" })
                            </div>
                            <div class="col-lg-5">
                                @Html.OpMgrDropDownListFor(m => m.Employee.Designation.DesignationId, Model.DesignationList, UserResource.DesignationId, new { @class = "form-control" })
                            </div>
                            <div class="col-lg-5">
                                @Html.OpMgrDropDownListFor(m => m.Employee.Department.DepartmentId, Model.DepartmentList, UserResource.DepartmentId, new { @class = "form-control" })
                            </div>
                            <div class="col-lg-5" id="divClasstype">
                                @Html.OpMgrDropDownListFor(m => m.Employee.ClassType.ClassTypeId, Model.ClassTypeList, UserResource.ClassType, new { @class = "form-control" })
                            </div>

                            <div class="col-lg-5" id="divSpecilizaion">
                                @Html.OpMgrDropDownListFor(m => m.Employee.Subject.SubjectId, Model.SubjectList, UserResource.SubjectType, new { @class = "form-control" })
                            </div>
                            @*</div>*@
                            <div class="row">
                                <table id="tblRoles" class="table table table-striped table-bordered table-responsive table-hover">
                                    <thead>
                                        <tr>
                                            <th colspan="5">
                                                Assign Role
                                            </th>
                                        </tr>
                                        @if (!string.Equals(Model.MODE, "VIEW", StringComparison.OrdinalIgnoreCase))
                                        {
                                            <tr>
                                                <th colspan="5">
                                                    <input type="button" class="btn btn-primary" style="width:70px" onclick="assignRoles();" value="+Add" />
                                                </th>
                                            </tr>
                                        }
                                        <tr>
                                            <th style="display:none;"></th>
                                            <th>Roles</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model.UserEntitlementList != null && Model.UserEntitlementList.Count > 0)
                                        {
                                            for (int i = 0; i < Model.UserEntitlementList.Count; i++)
                                            {
                                                <tr>
                                                    <td style="display:none;">
                                                        <input type="hidden" name="UserEntitlementList[@i].RowId" value="@Model.UserEntitlementList[i].RowId" />
                                                    </td>
                                                    <td>
                                                        <select name="UserEntitlementList[@i].RoleDetails.UserRoleId" class="form-control">
                                                            @foreach (OpMgr.Common.DTOs.EntitlementDTO trUEnt in Model.SelectUserEntitlement)
                                                            {
                                                                <option value="@trUEnt.UserRoleId" @(Model.UserEntitlementList[i].RoleDetails.UserRoleId == trUEnt.UserRoleId ? "selected=\"selected\"" : "")>@trUEnt.RoleName</option>
                                                            }
                                                        </select>
                                                    </td>
                                                    <td>
                                                        @if (!string.Equals(Model.MODE, "VIEW", StringComparison.OrdinalIgnoreCase))
                                                        {
                                                            <a onclick="deleteUserEntitleMent('@Model.UserEntitlementList[i].RowId');" style="cursor:pointer;">Delete</a>
                                                        }
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>

                                </table>

                            </div>
                            @if (!string.Equals(Model.MODE, "EDIT", StringComparison.OrdinalIgnoreCase) && !string.Equals(Model.MODE, "VIEW", StringComparison.OrdinalIgnoreCase))
                            {
                                <div id="divcredentials">
                                    <div class="col-lg-10">
                                        @Html.OpMgrTextBoxFor(m => m.UserName, UserResource.UserName, new { @class = "form-control", data_rule_required = "true", data_msg_required = "UserName is required" })
                                    </div>
                                    <div class="col-lg-10">
                                        @Html.OpMgrPasswordFor(m => m.Password, UserResource.Password, new { @class = "form-control", data_rule_required = "true", data_msg_required = "Password is required" })
                                    </div>
                                    <div class="col-lg-10">
                                        @Html.OpMgrPasswordFor(m => m.ConfirmPassword, UserResource.ConfirmPassword, new { @class = "form-control", data_rule_required = "true", data_msg_required = "Confim Password is required" })
                                    </div>
                                </div>
                            }
                            @if (!string.Equals(Model.MODE, "VIEW", StringComparison.OrdinalIgnoreCase))
                            {
                                <div class="col-lg-4">
                                    <button type="submit" class="btn btn-primary">@UserResource.RegisterButton</button>
                                </div>
                            }
                        </fieldset>
                    </div>
                }
            </div>
        </div>
    </div><!-- /.col-->
</div>
