@using OpMgr.Resources.User
@using OperationsManager.ExtendedHtmlHelpers
@model OperationsManager.Areas.Login.Models.UserViewModel


@{

    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ResetPassword.PageTitle</title>
</head>
@section PageScripts
{
    <script src="~/Scripts/DataTables-1.10.16/media/js/jquery.dataTables.js"></script>


    <script type="text/javascript" language="javascript">
        function selectType(type) {
            var dv = $("#dvAdminPasswordChange");
            if (dv != null) {
                dv.css("display", "block");
            }
        }
    </script>

}
<body>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading"><b>@ResetPassword.PageHeader</b></div>
                <div class="panel-body">

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <fieldset>
                            @if (!string.IsNullOrEmpty(Model.RoleName) && Model.RoleName.Contains("Admin"))
                            {
                                <div class="col-lg-6">
                                    @Html.Label("Reset Student Password", new { id = "lblStudent", style = "margin-left:5px" })
                                    &nbsp @Html.RadioButtonFor(m => m.Role.RoleDescription, "Student", new { onclick = "selectType('Student');" })
                                </div>
                                <div class="col-lg-6">
                                    @Html.Label("Reset Staff Password", new { id = "lblStaff" })
                                    &nbsp @Html.RadioButtonFor(m => m.Role.RoleDescription, "Staff", new { onclick = "selectType('Staff');" })
                                </div>
                                <div style="margin-top:12px;display:none" id="dvAdminPasswordChange" class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                        @Html.OpMgrTextBoxFor(m => m.StudentOrStaffId, ResetPassword.UserId, new { @class = "form-control" })
                                    </div>
                                    <div class="col-lg-12">
                                        @Html.OpMgrTextBoxFor(m => m.NewPassword, ResetPassword.NewPassword, new { @class = "form-control", @readonly = "readonly" })
                                    </div>
                                    <div class="col-lg-12">
                                        @Html.OpMgrTextBoxFor(m => m.ConfirmPassword, ResetPassword.ConfirmPassword, new { @class = "form-control", @readonly = "readonly" })
                                    </div>
                                    <div class="col-lg-12" style="text-align:left">
                                        <button type="submit" class="btn btn-primary">@ResetPassword.ResetButton</button>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="col-lg-12">
                                    @Html.OpMgrTextBoxFor(m => m.Name, ResetPassword.FirstName, new { @class = "form-control", @readonly = "readonly" })
                                    @Html.HiddenFor(m => m.UserMasterId)
                                </div>
                                <div class="col-lg-12">
                                    @Html.OpMgrPasswordFor(m => m.Password, ResetPassword.CurrentPassword, new { @class = "form-control" })
                                </div>
                                <div class="col-lg-12">
                                    @Html.OpMgrPasswordFor(m => m.NewPassword, ResetPassword.NewPassword, new { @class = "form-control" })
                                </div>
                                <div class="col-lg-12">
                                    @Html.OpMgrPasswordFor(m => m.ConfirmPassword, ResetPassword.ConfirmPassword, new { @class = "form-control" })
                                </div>
                                <div class="col-lg-12" style="text-align:left">
                                    <button type="submit" class="btn btn-primary">@ResetPassword.ResetButton</button>
                                </div>
                            }


                            @if (!string.IsNullOrEmpty(Model.SuccessorFailureMessage))
                            {
                                <br />
                                <br />
                                <br />
                                <br />
                                <div class="lblSuccessOrFail" style="text-align:center">
                                    <label style="text-align:center;font-size:medium;color:@Model.MessageColor">@Model.SuccessorFailureMessage</label>
                                </div>
                            }
                        </fieldset>
                    }
                </div>
            </div>
        </div>
    </div>
</body>
</html>
